[user]
	name = Jonathan Campbell
	email = jonathan.campbell@urbint.com
[core]
	editor = code --wait
	excludesfile = /home/jcampbell/.gitignore_global
[diff]
    tool = vscode
	guitool = kdiff3
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	path = /usr/bin/kdiff3
	trustExitCode = false
[mergetool]
	prompt = false
[difftool "kdiff3"]
	path = /usr/bin/kdiff3
	trustExitCode = false
[difftool]
	prompt = false
