[user]
	name = Jonathan Campbell
	email = jonathan.campbell@urbint.com
[init]
	defaultBranch = main
[core]
	editor = code --wait
	excludesfile = ~/.gitignore_global
[diff]
    tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[alias]
	nuke = "!git fetch origin main; git reset --hard origin/main; git clean -df"
	update = "!git fetch origin main; git rebase origin/main; git push --force-with-lease"
	amend = commit --amend --no-edit
	tweak = "!git add .; git amend; git update"
